<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>655078518888-36crcakl0ggnp6999a1278ssds8rr8f4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.655078518888-36crcakl0ggnp6999a1278ssds8rr8f4</string>
	<key>API_KEY</key>
	<string>AIzaSyCfDnDorMHAB3k7sLVDoiVS4Qm7D0W2Fic</string>
	<key>GCM_SENDER_ID</key>
	<string>655078518888</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.tiktok</string>
	<key>PROJECT_ID</key>
	<string>videostreaming-test</string>
	<key>STORAGE_BUCKET</key>
	<string>videostreaming-test.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:655078518888:ios:3eeb5b54932cc3d7d88bdd</string>
	<key>DATABASE_URL</key>
	<string>https://videostreaming-test.firebaseio.com</string>
</dict>
</plist>